p {
	display: inline-block;
	float: left;
	margin-top: 20px;
}

.me-one {
	margin-left: 100px;
}

#Mbox {
	display: inline-block;
	float: left;
	border: 1px solid;
	height:40px;
	width: 40px;
	margin-left: 1px;
}

#letterM {
	margin-top: -17px;
	margin-left: 5px;
}

.me-two {
	display: inline-block;
	clear:left;
	margin-left: -246px;
	margin-top: 15px;
}

#Ebox {
	display: inline-block;
	float: left;
	border: 1px solid;
	height:40px;
	width: 40px;
	margin-left: 1px;
}

#letterE {
	margin-top: -17px;
	margin-left: 8px;
}

.and-one {
	margin-left: 80px;
}

#Abox {
	display: inline-block;
	float: left;
	border: 1px solid;
	height:40px;
	width: 40px;
	margin-left: 1px;
}

#letterA {
	margin-top: -17px;
	margin-left: 8px;
}

.and-two {
	display: inline-block;
	clear:left;
	margin-left: -143px;
	margin-top: 15px;
}

#Nbox {
	display: inline-block;
	float: left;
	border: 1px solid;
	height:40px;
	width: 40px;
	margin-left: 1px;
}

#letterN {
	margin-top: -17px;
	margin-left: 8px;
}

.and-three {
	display: inline-block;
	clear:left;
	margin-left: 206px;
	margin-top: -25px;
}

#Dbox {
	display: inline-block;
	float: left;
	border: 1px solid;
	height:40px;
	width: 40px;
	margin-left: 1px;
}

#letterD {
	margin-top: -17px;
	margin-left: 9px;
}

.you-one {
	margin-left: 320px;
	margin-top: -30px;
}

#Ybox {
	display: inline-block;
	float: left;
	border: 1px solid;
	height:40px;
	width: 40px;
	margin-left: 1px;
}

#letterY {
	margin-top: -17px;
	margin-left: 8px;
}

.you-two {
	display: inline-block;
	clear:left;
	margin-left: -162px;
	margin-top: 15px;
}

#Obox {
	display: inline-block;
	float: left;
	border: 1px solid;
	height:40px;
	width: 40px;
	margin-left: 1px;
}

#letterO {
	margin-top: -16px;
	margin-left: 8px;
}

.you-three {
	display: inline-block;
	clear:left;
	margin-left: 339px;
	margin-top: -25px;
}

#Ubox {
	display: inline-block;
	float: left;
	border: 1px solid;
	height:40px;
	width: 40px;
	margin-left: 1px;
}

#letterU {
	margin-top: -16px;
	margin-left: 8px;
}

.lastone {
	margin-left: 430px;
	margin-top: 23px;
}

.lasttwo {
	margin-left: 430px;
	margin-top: 18px;
}

.navigation {
	margin-top: 100px;
	margin-left: 44.5%;
}

.nav {
	display: inline-block;
	float: left;
}
.left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid black;
    border-bottom: 5px solid transparent;
    margin-left: 0px;
}

.right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid black;
	border-bottom: 5px solid transparent;
	margin-left: 50px;
}

.home {
    position: relative;
    width: 10px;
    height: 9px;
    margin-left: 40px;
}
.home:before,
.home:after {
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 16px;
    background: black;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.home:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
