*{
	background-color: lightgray;
	color:white; 
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
}

.bold {
	color: #9C528B;
	font-size: 100px;
	font-family: "Arial Black", Gadget, sans-serif;
}

.blue {
	color:#2F0147;
	font-size: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: bold;
}

.space {
	letter-spacing: 10px;
	border:px dotted #2F0147;
	font-size: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#lastline {
	font-size: 100px;
	color:#9C528B;
	font-variant: small-caps;
	letter-spacing: 10px;
	margin-top: -10px;
	font-family: "Arial Black", Gadget, sans-serif;
}

p {
	margin-top: -15px;
}


.navigation {
	margin-top: 0px;
	margin-left: 44.5%;
}

.nav {
	display: inline-block;
	float: left;
}
.left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid black;
    border-bottom: 5px solid transparent;
    margin-left: 0px;
}

.right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid black;
	border-bottom: 5px solid transparent;
	margin-left: 50px;
}

.home {
    position: relative;
    width: 10px;
    height: 9px;
    margin-left: 40px;
}
.home:before,
.home:after {
    position: absolute;
    content: "";
    left: 10px;
    top: 0;
    width: 10px;
    height: 16px;
    background: black;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.home:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
